@model ReactPrerenderInfo;

@using React.AspNet
@*@using React.RenderFunctions*@
@using React.Router
@inject Momento.Services.Contracts.Directory.IDirectoryService directoryService
@inject Momento.Services.Contracts.Comparisons.IComparisonService comparisonService

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

@{
    var dirData = (DirectoryIndexSingle)null;
    var compData = (ComparisonEdit)null;
    string component = "";

    if (Model.WantedComponent == ReactComponent.index)
    {
        dirData = directoryService.GetIndexSingle(Model.WantedIndex, this.User.Identity.Name);
        component = "index";
    }
    else if (Model.WantedComponent == ReactComponent.compare)
    {
        compData = comparisonService.GetForEditApi(Model.WantedIndex, this.User.Identity.Name);
        component = "compare";
    }
}
<div id="react"></div>
@Html.React("RootElement", new
{
    initialDir = dirData,
    initialComp = compData,
    comp = component,
})

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="~/js/ReactApps/Navigation/components.bundle.js"></script>
    @Html.ReactInitJavaScript()
}