<div class="row" style="color: rgba(238, 238, 238, 1)">
    <div class="col-md-6 col-sm-12">
        <p>
            <h4>
                Welcome to <span style="color:cyan">Momento</span>, the site that helps you write down you ideas and new knowledge!
            </h4>
        </p>
        <p>
            <h4>
                Please <a asp-area="Identity" asp-page="/Account/Login"><span style="color:cyan">Login</span></a> or <a asp-area="Identity" asp-page="/Account/Register"><span style="color:cyan">Register</span></a> to get access to your working area.
            </h4>
        </p>
    </div>
    <div class="col-md-6 col-sm-12">
        <img alt="Example how part of a workspace looks" style="width: 100%;height: 100%" src="/Images/IndexImage.png" />
    </div>
</div>
