.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.offset {
    margin-left: 5%;
}

:root {
    --padding: 3%;
    --padding-react: 13%;
}

.content {
    width: 30%;
    border-radius: 25px;
    border: 5px solid blue;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.video {
    border-radius: 25px;
    border: 5px solid blue;
    padding-left: var(--padding-react);
    padding-right: var(--padding-react);
    padding-top: var(--padding-react);
    padding-bottom: var(--padding-react);
}

.directory {
    width: 30%;
    border-radius: 25px;
    border: 5px solid grey;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.directory-react {
    border-radius: 25px;
    border: 5px solid grey;
    padding-left: var(--padding-react);
    padding-right: var(--padding-react);
    padding-top: var(--padding-react);
    padding-bottom: var(--padding-react);
}

.todo-list {
    width: 30%;
    border-radius: 25px;
    border: 5px solid rgb(167, 52, 52);
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.parent-directory {
    width: 30%;
    border-radius: 25px;
    border: 5px solid black;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.parent-directory-react {
    border-radius: 25px;
    border: 5px solid black;
    padding-left: var(--padding-react);
    padding-right: var(--padding-react);
    padding-top: var(--padding-react);
    padding-bottom: var(--padding-react);
}

.non-li {
    list-style-type: none;
    padding-left: 0;
}

.non-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.flex {
    display: flex;
}

.content-link {
    margin-left: 4px;
}

.size-width-auto {
    width: auto;
}

.size-height-auto{
    height: auto;
}

.size-auto{
    width: auto;
    height: auto;
}

.flex-end {
    display: flex;
    align-items: flex-end;
}

.flex-start {
    display: flex;
    align-items: flex-start;
}

.btn-no-border {
    border: 0;
}

.btn-link {
    padding: 0;
    border: 0;
}

.note-offset {
    margin-left: 5%;
}

.no-padding{
    padding:0;
}

.note-view-div {
    height: 2em; 
    line-height: 1em; 
    overflow: hidden;

    border: 1px solid rgb(29, 29, 29);
    padding: 0;
}

.note{
    margin-top: 2.5%;
}

.top-element-offset{
    margin-top: 2.5%;
}

.btn-verticle-offset{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.textarea-horizontal-scrollbar{
    white-space: nowrap;
}

.margin-2percent{
    margin: 2%;
}

.margin-down-up-2percent{
    margin: 2% 0 2% 0%;
}

.time-stamp{
    background-color: rgb(173, 173, 173);
}

.new-topic{
    background-color: rgb(65, 65, 65);
}

#cntnr{
    position: fixed;
}

.todo-item{
    border : 1px solid black;
    color: white;
    background-color: rgb(65, 65, 65)
}

.content-none{
    content: none;
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.margin-top-1-percent{
    margin-top:1%;
}

html {
    overflow-y: scroll
  }
/*Vide View*/
.note-video-view{
    background-color: rgba(55,61,67,1);
    border: 1px solid rgba(0, 0, 0, 0);
} 

.timestamp-video-view{
    background-color:  rgb(48, 53, 59);
    border: 1px solid rgba(250, 91, 255, 0);
}

.newtopic-video-view{
    background-color: rgb(60, 68, 77);
    border: 1px solid rgba(137, 240, 111, 0);
}

.outer-text-box{
    margin: 1em;
}

.inner-text-box{
    margin: 1em;
    padding: 0;
    white-space: pre-wrap;
    line-height: 1.5em;
    overflow: hidden;
}
/*///...*/

.centered-ontop{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 10;
}

/*Menu tiems has to be those specific classes*/
.react-contextmenu {
    background-color: rgb(0, 0, 0);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    color: #ffffff;
    font-size: 16px;
    margin: 2px 0 0;
    min-width: 160px;
    outline: none;
    opacity: 0;
    padding: 5px 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: #ffffff;
	cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #627e94;
    border-color: #627e94;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

/* .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
} */

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}

/*///...*/

