<div class="container-fluid margin-down-up-2percent">
    <div class="row">
        <div class="col no-padding"><button type="button" class="col btn btn-primary btn-block add-note" position="bottom">Add Note</button></div>
        <div class="col no-padding"><button type="button" class="col btn btn-primary btn-block" id="start-pause" position="bottom">Start</button></div>
        <div class="col no-padding"><button type="button" class="col btn btn-primary btn-block" id="go-back" position="bottom">Go Back</button></div>
        <div class="col no-padding"><button type="button" class="col btn btn-primary btn-block time-stamp-button" position="bottom">Time Stamp</button></div>
        <div class="col no-padding"><button type="button" class="col btn btn-primary btn-block new-topic-button" position="bottom">New Topic</button></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>

