<div class="offset-sm-2 col-sm-6">
    <button type="button" id="settings-btn" state="0" class="btn btn-primary btn-block">Settings</button>
</div>
<div id="settings-div" style="display:none">
    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on top new note</lable>
        <div class="col-sm-1">
            <input id="setting1" type="checkbox" class="form-control-black" />
        </div>
    </div>
    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on bottom new note</lable>
        <div class="col-sm-1">
            <input id="setting2" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on sub note top</lable>
        <div class="col-sm-1">
            <input id="setting3" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on top sub note regular</lable>
        <div class="col-sm-1">
            <input id="setting12" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on topic top</lable>
        <div class="col-sm-1">
            <input id="setting4" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on topic bottom</lable>
        <div class="col-sm-1">
            <input id="setting5" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on time stamp top</lable>
        <div class="col-sm-1">
            <input id="setting6" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Pause video on time stamp bottom</lable>
        <div class="col-sm-1">
            <input id="setting7" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Go down on new note top</lable>
        <div class="col-sm-1">
            <input id="setting8" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Go down on sub note all</lable>
        <div class="col-sm-1">
            <input id="setting9" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Go down on new topic top</lable>
        <div class="col-sm-1">
            <input id="setting10" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Go down on new time stamp top</lable>
        <div class="col-sm-1">
            <input id="setting11" type="checkbox" class="form-control-black" />
        </div>
    </div>

    <div class="form-group row">
        <lable class="col-sm-5 col-form-label text-right">Auto save progress</lable>
        <div class="col-sm-1">
            <input id="setting13" type="checkbox" class="form-control-black" />
        </div>
    </div>
</div>

