<div class="row">
    <div id="iframeDiv" class="col-sm-10">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="video" class="youtube_player_iframe"></div>
        </div>
    </div>
    <div class="col-sm-2 align-self-end">
        <button type="button" class="btn btn-primary btn-block add-note" position="top">Add Note</button>
        <button type="button" class="btn btn-primary btn-block" id="add1" position="top" disabled>Sub Note</button>
        <button type="button" class="btn btn-primary btn-block" id="add2" position="top" disabled>SSub Note</button>
        <button type="button" class="btn btn-primary btn-block" id="add3" position="top" disabled>SSSub Note</button>
        <button type="button" class="btn btn-primary btn-block time-stamp-button" position="top">Time Stamp</button>
        <button type="button" class="btn btn-primary btn-block new-topic-button" position="top">New Topic</button>
    </div>
</div>

